{# Dywee\ProductBundle\Resources\View\layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block metaTitle %}
     {{ parent() }}
{% endblock %}

{% block translationLinks %}
     <a href="{{ path('dywee_product_view', {data: product.id, _locale: 'fr'}) }}">
          <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" alt="Version francophone" width="28" />
     </a>
     {#<a href="{{ path('dywee_product_view', {data: product.id, _locale: 'nl'}) }}">
          <img src="{{ asset('bundles/dyweecore/images/flags/48/nl.png') }}" alt="Nederlandse Versie" width="28" />
     </a>
     <a href="{{ path('dywee_product_view', {data: product.id, _locale: 'en'}) }}">
          <img src="{{ asset('bundles/dyweecore/images/flags/48/en.png') }}" alt="English Version" width="28" />
     </a>#}
{% endblock %}

{% block body %}
     {% block bodyContent %}
     {% endblock %}
{% endblock %}