{# Dywee\ProductBundle\Resources\View\Eshop\form.html.twig #}

{% set langDropDown %}
<div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" width="18" />
        <i class="fa fa-caret-down fa-caret-down-btn-correct"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="javascript:void(0)" onclick="showLang(1)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" width="18" /> Français
            </a>
        </li>
        <li><a href="javascript:void(0)" onclick="showLang(2)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/en.png') }}" width="18" /> Anglais
            </a>
        </li>
        <li><a href="javascript:void(0)" onclick="showLang(3)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/nl.png') }}" width="18" /> Néerlandais
            </a>
        </li>
    </ul>
</div>
{% endset %}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}



{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# les erreurs du formulaire #}
    {{ form_errors(form) }}

    {{ form_widget(form.sauvegarder, {"attr": {"class": "btn btn-success pull-right"}}) }}

    <ul id="descriptions" class="nav nav-tabs">
        <li class="active"><a href="#mainTab" data-toggle="tab"><i class="fa fa-font"></i> General</a></li>
        <li><a href="#tech" data-toggle="tab"><i class="fa fa-cog"></i> Caractéristiques</a></li>
        <li><a href="#declinaisons" data-toggle="tab"><i class="fa fa-cog"></i> Déclinaisons</a></li>
        <li><a href="#seoTab" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Référencement</a></li>
        <li><a href="#shortDescriptionTab" data-toggle="tab"><i class="fa fa-cog"></i> Petite description</a></li>
        <li><a href="#mediumDescriptionTab" data-toggle="tab"><i class="fa fa-cog"></i> Description Page Produit</a></li>
        <li><a href="#longDescriptionTab" data-toggle="tab"><i class="fa fa-cog"></i> Description détaillée</a></li>
        <li><a href="#pack" data-toggle="tab"><i class="fa fa-cog"></i> Pack</a></li>
    </ul>
    <p>&nbsp;</p>

<div class="tab-content">
    <div class="tab-pane fade in active" id="mainTab">
        <div class="row">
            <div class="col-lg-3">
                {{ form_widget(form.images) }}
            </div>
            <div class="col-lg-7">


                <div class="form-group">
                    {{ form_label(form.name, "Nom") }}
                    {{ form_errors(form.name) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.name) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.brand, "Marque du produit") }}
                    {{ form_errors(form.brand) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.brand) }}
                    </div>
                </div>



                <div class="form-group">
                    {{ form_label(form.price, "Prix") }}
                    {{ form_errors(form.price) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.price) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 cols-md-10">
                        {{ form_label(form.isPriceTTC, "Prix TTC") }}
                        {{ form_errors(form.isPriceTTC) }}

                        {{ form_widget(form.isPriceTTC) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.stock, "Stock") }}
                    {{ form_errors(form.stock) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.stock) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 cols-md-10">
                        {{ form_label(form.isPromotion, "En promotion") }}
                        {{ form_errors(form.isPromotion) }}
                        {{ form_widget(form.isPromotion) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.promotionPrice, "Prix en promotion") }}
                    {{ form_errors(form.promotionPrice) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.promotionPrice) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.sellType, "Mis à disposition: ") }}
                    {{ form_errors(form.sellType) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.sellType) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.productType, "Type") }}
                    {{ form_errors(form.productType) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.productType) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.state, "Statut") }}
                    {{ form_errors(form.state) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.state) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade in" id="tech">
        <div class="row">
            <div class="col-md-4">
                <h3>Général</h3>
                <div class="form-group">
                    {{ form_label(form.length, "Longueur", {"label_attr": {"class": "control-label col-sm-4"}}) }}
                    {{ form_errors(form.length) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.length) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.width, "Largeur", {"label_attr": {"class": "control-label col-sm-4"}}) }}
                    {{ form_errors(form.width) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.width) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.height, "Hauteur", {"label_attr": {"class": "control-label col-sm-4"}}) }}
                    {{ form_errors(form.height) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.height) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.weight, "Poids", {"label_attr": {"class": "control-label col-sm-4"}}) }}
                    {{ form_errors(form.weight) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.weight) }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <h3>Catégories</h3>
                    {{ form_errors(form.categories) }}
                    {{ form_widget(form.categories) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h3>Caractéristiques</h3>
                    {{ form_errors(form.features) }}
                    {{ form_widget(form.features) }}
                </div>
            </div>
        </div>

    </div>


    <div class="tab-pane fade in" id="seoTab">
        <div class="form-group">
            {{ form_label(form.metaTitle, "Meta Titre") }}
            {{ form_errors(form.metaTitle) }}
            <div class="col-sm-9">
                <div class="input-group">
                    {{ form_widget(form.metaTitle) }}
                    {{ langDropDown }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.metaDescription, "Meta Description") }}
            {{ form_errors(form.metaDescription) }}
            <div class="col-sm-9">
                <div class="input-group">
                    {{ form_widget(form.metaDescription) }}
                    {{ langDropDown }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.metaKeywords, "Meta Keywords") }}
            {{ form_errors(form.metaKeywords) }}
            <div class="col-sm-9">
                <div class="input-group">
                    {{ form_widget(form.metaKeywords) }}
                    {{ langDropDown }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.seoUrl, "Url") }}
            {{ form_errors(form.seoUrl) }}
            <div class="col-sm-9">
                <div class="input-group">
                    {{ form_widget(form.seoUrl) }}
                    {{ langDropDown }}
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade in" id="declinaisons">
        <div class="col-md-12">

            {{ form_row(form.productVariants) }}
        </div>
    </div>

    <div class="tab-pane fade in" id="shortDescriptionTab">
        <div class="col-md-12">

                {{ form_errors(form.shortDescription) }}

                <div class="col-md-9">
                    {{ form_widget(form.shortDescription, {"attr": {"class": "form-control ckeditor" }}) }}
                </div>

            {{ langDropDown }}
        </div>
    </div>

    <div class="tab-pane fade in" id="mediumDescriptionTab">
        <div class="col-md-12">

                {{ form_errors(form.mediumDescription) }}

                <div class="col-md-9">
                    {{ form_widget(form.mediumDescription, {"attr": {"class": "form-control ckeditor" }}) }}
                </div>

            {{ langDropDown }}
        </div>
    </div>

    <div class="tab-pane fade in" id="longDescriptionTab">
        <div class="col-md-12">

                {{ form_errors(form.longDescription) }}

                <div class="col-md-9">
                    {{ form_widget(form.longDescription, {"attr": {"class": "form-control ckeditor" }}) }}
                </div>

            {{ langDropDown }}
        </div>
    </div>
    <div class="tab-pane fade in" id="pack">

            {{ form_errors(form.packElements) }}
            {{ form_widget(form.packElements) }}

    </div>

</div>


{{ form_javascript(form) }}
    {{ form_rest(form) }}
{{ form_end(form) }}


