{# Dywee\ProductBundle\Resources\View\Eshop\table.html.twig #}

{%  extends "DyweeProductBundle::admin.html.twig" %}

{% block breadcrumb %}
    <li><i class="fa fa-beer"></i> Produits</li>
    <li class="active"><i class="fa fa-list-alt"></i> Liste des produits</li>
{% endblock %}

{% block viewBody %}
    <a href="{{ path('dywee_product_add', {'type': type}) }}" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Ajouter</a>

    <div class="title-heading">
        <h1 class="text-center">Liste des {% if type == 1 %}Produits {% elseif type == 2 %}Packs{% endif %}</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                {#<th>Marque</th>#}
                {#<th>Catégories</th>#}
                <th>Mise à disposition</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {%  for product in productList %}
                <tr>
                    <td><small>{{ product.id }}</small></td>
                    <td>{{ product.name }}</td>
                    {#<td><small>{{ product.brand.name }}</small></td>#}
                    {#<td><small>{% for category in product.categories%}{{ category.name }}, {% endfor %}</small></td>#}
                    <td>{% if product.sellType == 0 %}
                            <span class="label label-default">Dématérialisé</span>
                        {% elseif product.sellType == 1 %}
                            <span class="label label-default">Vente</span>
                        {% elseif product.sellType == 2 %}
                            <span class="label label-default">Location</span>
                        {%  endif %}</td>
                    <td>{% if product.isPromotion == 1 %}
                            <strike>{{ product.price }}€</strike> > {{ product.promotionPrice|number_format(2) }}€
                        {% else %}
                            {{ product.price }}€
                        {% endif %}
                    </td>
                    <td>{{ product.stock }}</td>
                    <td>{% include 'DyweeProductBundle:Product:state.html.twig' %}
                    </td>
                    <td><a href="{{ path('dywee_product_admin_view', {id: product.id}) }}" class="link-unstyled"><i class="fa fa-eye"></i> </a>
                        <a href="{{ path('dywee_product_update', {id: product.id}) }}" class="link-unstyled"><i class="fa fa-pencil"></i> </a>
                        <a href="{{ path('dywee_product_delete', {id: product.id}) }}" class="link-unstyled" data-confirm="Êtes-vous sûr de vouloir supprimer ce produit:" data-name="{{ product.name }}"><i class="fa fa-trash-o"></i> </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}