{# Dywee\EshopBundle\Resources\View\Brand\form.html.twig #}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# les erreurs du formulaire #}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.name, "Nom", {"label_attr": {"class": "control-label col-sm-3"}}) }}
        {{ form_errors(form.name) }}
        <div class="col-sm-9">
            {{ form_widget(form.name, {"attr": {"class": "form-control"}}) }}
        </div>
    </div>

    {{ form_widget(form.save, {"attr": {"class": "btn btn-success col-md-offset-3"}}) }}

{{ form_rest(form) }}

{{ form_end(form) }}