{# Dywee\ProductBundle\Resources\View\Eshop\form.html.twig #}

{% set langDropDown %}
    {#<div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" width="18" />
            <i class="fa fa-caret-down fa-caret-down-btn-correct"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" onclick="showLang(1)">
                    <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" width="18" /> Français
                </a>
            </li>
            <li><a href="javascript:void(0)" onclick="showLang(2)">
                    <img src="{{ asset('bundles/dyweecore/images/flags/48/en.png') }}" width="18" /> Anglais
                </a>
            </li>
            <li><a href="javascript:void(0)" onclick="showLang(3)">
                    <img src="{{ asset('bundles/dyweecore/images/flags/48/nl.png') }}" width="18" /> Néerlandais
                </a>
            </li>
        </ul>
    </div>#}
{% endset %}

{% form_theme form.pictures '@DyweeProductBundle/Form/picture_collection_widget.html.twig' %}
{% form_theme form.promotions '@DyweeProductBundle/Form/promotion_widget.html.twig' %}


{{ form_start(form) }}

    {{ form_errors(form) }}

{% block productFormContent %}

    <div class="row">

        <div class="col-md-3">
            <div class="box box-default">
                <div class="box-header">
                    <h2 class="box-title">{{ 'product.form.images'|trans }}</h2>
                </div>
                <div class="box-body">
                    {{ form_errors(form.pictures) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.pictures) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <button type="submit" id="product_sauvegarder" class="btn-success pull-right btn"
                        style="margin-top: 5px; margin-right: 5px"><i class="fa fa-save"></i> {{ 'save'|trans }}
                </button>
                <ul id="descriptions" class="nav nav-tabs">
                    {%  block productFormNavTabs %}
                        <li class="active"><a href="#mainTab" data-toggle="tab"><i class="fa fa-font"></i> {{ 'product.form.general'|trans }}</a></li>
                        <li><a href="#seoTab" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> {{ 'product.form.seo'|trans }}</a></li>
                        <li><a href="#tech" data-toggle="tab"><i class="fa fa-cog"></i> {{ 'product.form.tech'|trans }}</a></li>
                        <li><a href="#descriptionsTab" data-toggle="tab"><i class="fa fa-cog"></i> {{ 'product.form.description'|trans }}</a></li>
                    {% endblock %}
                </ul>

                <div class="tab-content">
                    {%  block productFormTabContent %}
                        <div class="tab-pane fade in active" id="mainTab">
                            <p>&nbsp;</p>
                            <div class="row">
                                <div class="col-md-8">

                                    <div class="form-group">
                                        {{ form_label(form.name) }}
                                        {{ form_errors(form.name) }}
                                        <div class="col-sm-9">
                                            {{ form_widget(form.name) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.brand) }}
                                        {{ form_errors(form.brand) }}
                                        <div class="col-sm-9">
                                            {{ form_widget(form.brand) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.price) }}
                                        {{ form_errors(form.price) }}
                                        <div class="col-sm-9">
                                            {{ form_widget(form.price) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            {{ form_label(form.isPriceTTC) }}
                                            {{ form_errors(form.isPriceTTC) }}

                                            {{ form_widget(form.isPriceTTC) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.stock) }}
                                        {{ form_errors(form.stock) }}
                                        <div class="col-sm-9">
                                            {{ form_widget(form.stock) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.state) }}
                                        {{ form_errors(form.state) }}
                                        <div class="col-sm-9">
                                            {{ form_widget(form.state) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    {% block main_content_right %}{% endblock %}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="tech">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Général</h3>

                                    {{ form_row(form.length) }}

                                    {{ form_row(form.width) }}

                                    {{ form_row(form.height) }}

                                    {{ form_row(form.weight) }}

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h3>Catégories</h3>
                                        {{ form_errors(form.categories) }}
                                        {{ form_widget(form.categories) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Caractéristiques</h3>
                                    <div class="form-group">
                                        {{ form_errors(form.features) }}
                                        {{ form_widget(form.features) }}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane fade in" id="seoTab">
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12">

                                    {{ form_row(form.seo.metaTitle) }}

                                    {{ form_row(form.seo.metaDescription) }}

                                    {{ form_row(form.seo.metaKeywords) }}

                                    {{ form_row(form.seo.seoUrl) }}

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="descriptionsTab">

                            <div class="row">
                                <div class="col-md-4">
                                    <p class="h4">Petite description</p>
                                    {{ form_widget(form.shortDescription) }}
                                </div>

                                <div class="col-md-8">
                                    <p class="h4">Description moyenne</p>
                                    {{ form_widget(form.mediumDescription) }}
                                </div>

                                <div class="col-md-12">
                                    <p class="h4">Grande description</p>
                                    {{ form_widget(form.longDescription) }}
                                </div>

                            </div>
                        </div>

                    {% endblock %}

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-defaut">
                <div class="box-header with-border">
                    <h2 class="box-title">{{ 'product.form.promotions'|trans }}</h2>
                </div>
                <div class="box-body">
                    {{ form_widget(form.promotions) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-defaut">
                <div class="box-header with-border">
                    <h2 class="box-title">{{ 'product.form.relatedProducts'|trans }}</h2>
                </div>
                <div class="box-body">
                    {{ form_widget(form.relatedProducts) }}
                </div>
            </div>
        </div>
    </div>


{% endblock productFormContent %}

{{ form_rest(form) }}
{{ form_end(form) }}
